.container img {
  max-width:100%;
}

.container a:hover {
  text-decoration:none;
}

.post .title {
  font-size:20px;
  font-weight: bold;
}
.post .content img,
.post .content iframe {
  max-width:100% !important;
}

.post .content {
  width: 100%;
  word-break:break-all;
  padding: 30px 0px;
}

.post {
  margin-bottom: 30px;

}

.post hr {
  border-style: dotted;
  border-top-width:1px;
  border-color: rgba(0,0,0,0.5);
}

