.container img {
  max-width:100%;
}

.container a:hover {
  text-decoration:none;
}

.post .title {
  font-size:20px;
  font-weight: bold;
}
.post .content img,
.post .content iframe {
  max-width:100% !important;
}

.post .content {
  width: 100%;
  word-break:break-all;
  padding: 30px 0px;
}

.post {
  margin-bottom: 30px;

}

.post hr {
  border-style: dotted;
  border-top-width:1px;
  border-color: rgba(0,0,0,0.5);
}

.right {
  display:block;
  text-align:right;
}
.inline {
  display:inline-block;
}

.comments {
  cursor:pointer;
}

p {
  font-size: 93% !important;
}

.container {
  text-align:center !important;
}

.wrapper {
  width:500px;
  max-width:100%;
  display:inline-block;
  text-align:left;
}

.date {
  padding: 10px 0px 0px 0px;
  color: #A6A6A6;
}


