doctype html
<!--[if IE 8]>
<html lang="ko" class="ie8">
<![endif]-->  
<!--[if IE 9]>
<html lang="ko" class="ie9">
<![endif]-->  
<!--[if !IE]><!--> 
<html lang="ko">
<!--<![endif]-->

block vars

head
  include ./header.jade
  block header
body
  include ./mainmenu.jade
  .container
    img(src="/assets/img/main_img.gif")
    if fluid
      .wrapper
        block content
    else
      .wrapper
        block content
  include ./footer.jade
  include ./footer-script.jade
  block footer
</html>
        
