extends layout

block vars
  - var fluid = true;

block content
  if edit
    form#post-form(method='POST', action='/edit')
      input(type='hidden', name='id', value=postId)
      input.form-control(type='text', name='title', id='title', value=tempPostTitle)
      input.form-control(type='hidden', name='content', id='content')
      div.summernote
        != tempPostContent
      input.btn.btn-default.btn-block(type='submit', value='작성하기')
  else
    form#post-form(method='POST', action='/write')
      input.form-control(type='text', name='title', id='title', value=tempPostTitle)
      input.form-control(type='hidden', name='content', id='content')
      div.summernote
        != tempPostContent
      input.btn.btn-default.btn-block(type='submit', value='작성하기')
